<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <title>CongVan_CFSX</title>
    <style type="text/css">
        body {
            font-family: Times New Roman;
            font-size: 13pt;

        }

        table {

            font-family: Times New Roman;
            font-size: 13pt;
            line-height: 1.3;
            width: 100%;
        }

        .table-small {
            line-height: 1 !important;
        }

        table th {
            font-family: Times New Roman;
            font-size: 13pt;
            text-align: center;
        }

        table th,
        table td {
            vertical-align: top;
            font-size: 13pt;
        }

        .tableContent {
            font-size: 13pt;
            width: 100%;
            border-collapse: collapse;
            border: 0.25pt solid gray;
        }

        .tableContent th,
        .tableContent td {
            padding: 5px;
            border: 0.25pt solid gray;
        }

        .tableHeader {
            width: 100%;
            border: 0.25pt solid white;
        }

        .tableHeader {
            border-spacing: 0.25pt;
        }

        .tableHeader th,
        .tableHeader td {
            padding: 0px;
            border: 0.25pt solid white;
        }

        .sectionGuide {
            padding: 0;
            width: 100%;
        }

        #my-div {
            width: 10px;
            height: 10px;
            background: blue;
            margin-left: 2.5cm;
            margin-right: 2cm;
            margin-bottom: 2cm;
            margin-top: 2cm;
        }

        .pagebreak {
            page-break-before: always;
        }

        .footer {
            position: fixed;
            display: block;
            padding-top: 90em;
        }

        .sup {
            position: relative;
            vertical-align: baseline;
            top: -0.5em;
            font-size: 13pt;
        }

        .indent {
            text-indent: 50pt;
            line-height: 1.4;
        }

        .lineHeight16 {
            line-height: 1.4;
            text-align: justify;
        }

        br {
            line-height: 20px;
        }

        .hideElement {
            color: white;
            display: none;
        }

        .tableHeaderxx {
            width: 100%;
            border-collapse: collapse;
            border: 0.25pt solid black;
        }

        .tableHeaderxx th {
            border: 0.25pt solid black;
            text-align: center;
            padding: 3pt;
            border-collapse: collapse;
        }

        .tableHeaderxx td {
            border: 0.25pt solid black;
            text-align: left;
            padding: 3pt;
            border-collapse: collapse;
        }

        .tableHeaderxx .tdb span {
            font-weight: bold;
            float: right;
        }

        .tableHeaderxx .trtablexx {
            font-weight: bold;
        }

    </style>
</head>
<body>
    #macro( formatFinance $value )
    #if($value.contains("."))
    #set($tmp = $value.split("\."))
    $tmp[0].replaceAll(',','.'),$tmp[1]
    #else
    $value.replaceAll(',','.')
    #end
    #end
    <div class="sectionGuide" style="padding: 1cm 1.22cm 0cm 1.22cm;">
        <table colspan="0" rowspan="0" class="tableHeader"
            style="margin-top: 10pt; margin-left: 0pt; margin-right: 5pt;">
            <tr>
                <th width="40%" style="text-align: center; font-size:11pt">
                    <span style="font-weight: normal;">TỔNG CÔNG TY</span>
                    <br />
                    <span style="font-weight: normal;">ĐIỆN LỰC TP HÀ NỘI </span>
                    <br />
                    <b>$DonViDeNghi</b>
                    <br />
                    <b><span style="line-height: 3pt">_______________</span></b>
                    <br />
                </th>
                <th width="60%" style="text-align: center; font-size:11pt">
                    <span style="text-align: center;">
                        <b>CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</b>
                        <br />
                        <b>Độc lập - Tự do - Hạnh phúc</b>
                        <br />
                        <b><span style="line-height: 3pt">________________________</span></b>
                        <br />
                    </span>
                    <div style="font-size:11pt; text-align: right;">
                        <br />
                        <i>Hà Nội, ngày $NgayToTrinh.split(" ")[0].split("/")[0] tháng $NgayToTrinh.split("
                            ")[0].split(
                            "/")[1] năm $NgayToTrinh.split(" ")[0].split("/")[2]
                        </i>
                    </div>
                </th>
            </tr>
        </table>
    </div>
    <div class="sectionGuide" style="padding: 1cm 1.22cm 0cm 1.22cm;">
        <div>
            <table class="tableHeader">
                <tr>
                    <td style="text-align: center; font-size:13pt; font-weight: bold;">
                        <b>ĐỀ NGHỊ CẤP VẬT TƯ THIẾT BỊ</b>
                    </td>
                </tr>
                <tr>
                    <td style="font-size:13pt; font-weight: normal;"> 
                            <p style="margin-left: 300px;">Tại kho: $TaiKho</p>
                    </td>
                </tr>
                <tr>
                    <td style="font-size:13pt; font-weight: normal;">
                        <p style="margin-left: 300px;">Kính gửi: $KinhGui</p>
                    </td>
                </tr>
            </table>
            <div style="padding-top: 15pt;">
                <p>Tên đơn vị đề nghị: $DonViDeNghi</p>
                <p>Lý do cấp: 
                    $LyDoCap
                </p>
                <p>Đề nghị cấp danh sách vật tư thiết bị như sau:</p>
            </div>
        </div>
        <div>
            <table class="tableHeaderxx">
                <tr class="PaddingCellTable">
                    <th  style="text-align: center; font-weight: bold;">
                        STT
                    </th>
                    <th style="text-align: center; font-weight: bold;">
                        MÃ VẬT TƯ
                    </th>
                    <th  style="text-align: center; font-weight: bold;">
                        TÊN VẬT TƯ VÀ QUY CÁCH
                    </th>
                    <th  style="text-align: center; font-weight: bold;">
                        ĐƠN VỊ TÍNH
                    </th>
                    <th  style="text-align: center; font-weight: bold;">
                        SỐ LƯỢNG
                    </th>
                    <th  style="text-align: center; font-weight: bold;">
                        GHI CHÚ
                    </th>
                </tr>
                #set($index = 1)
                #foreach($row in $DanhSachVatTu)
                <tr class="PaddingCellTable">
                    <td style="text-align: center; font-size: 10.5pt;">
                        $index
                    </td>
                    <td style="text-align: left; font-size: 10.5pt;">
                        $row.get("MaVatTu")
                    </td>
                    <td style="text-align: left; font-size: 10.5pt;">
                        $row.get("TenVatTuVaQuyCach")
                    </td>
                    <td style="text-align: left; font-size: 10.5pt;">
                        $row.get("DonViTinh")
                    </td>
                    <td style="text-align: right; font-size: 10.5pt;">
                        #formatFinance($row.get("SoLuong"))
                    </td>
                    <td style="text-align: left; font-size: 10.5pt;">
                        $row.get("GhiChu")
                    </td>
                </tr>
                #set($index = $index + 1)
                #end
            </table>
            <table colspan="0" rowspan="0" class="tableHeader" style="margin-top: 20pt;">
                <tr>
                    <th width="50%" style="text-align: left">
                        <i><b>Nơi nhận</b></i>
                        <br />
                        -VTU
                        <br />
                        -Lưu: VTU, Đơn vị soạn thảo
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                    </th>
                    <th width="50%" style="text-align: center">
                        <b>TRƯỞNG ĐƠN VỊ</b>
                        <br />
                        <i><b>(Ký tên, đóng dấu)</b></i>
                        <br />
                        <br />
                        <br />
                        <p style="font-size:12pt; margin-top: 30px;">$NameSignature</p>
                    </th>
                </tr>
            </table>
        </div>
    </div>

</body>